<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@business.image_url, :width => 600) if @business.image.present? %>
</p>

<p>
  <strong>Morning:</strong>
  <%= @business.morning %>
</p>

<p>
  <strong>Afternoon:</strong>
  <%= @business.afternoon %>
</p>

<p>
  <strong>Night:</strong>
  <%= @business.night %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>
<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
